body {
    background-color: #66023c; 
    color: #fff;     
    font-family: Arial, sans-serif;
    margin: 27px;
    text-align: center;
  }
  
  #filterInput {
    display: inline-block;
    font-size: 15px;
    padding: 8px;
    width: 40%;
    margin: 16px;

  }
  
  #listOfQuotes {
    max-width: 750px;
    margin: auto;
    list-style: none;
  }
  
  #listOfQuotes li {
    margin: 15px 0;
    padding: 10px 16px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    background: white;
    color: #000;
  }
  
  #error {
    color: #fff; 
    text-align: center;
    font-size: 18px;
  }